.marketplace-container {
  display: flex;
  background-color: white;
  flex-direction: column;
  border: none;
  border-radius: 3%;
  height: 25vw;
  position: relative;
  top: 12vh;
  box-shadow: 14px 21px 8px gray;
}
.pay_list-styled-card-mobile{
  display: none;
}
.marketplace-card-mob{
  display: none;
}
.marketplace-container h3 {
  padding-top: 1vh;
  padding-left: 2vw;
}

.marketplace-cards {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5vh;
}

.marketplace-card {
  background-color: white;
  width: 20%;
  text-align: center;
  height: 28vh;
  border: none;
  border-radius: 5%;
  box-shadow: 5px 5px 12px gray;
}

.marketplace-card-one {
  background-color: white;
  width: 20%;
  text-align: center;
  height: 28vh;
  border: none;
  border-radius: 5%;
  box-shadow: 5px 5px 12px gray;
}
.pay_list-styled{
  font-size: large;
  list-style-position: inside;
  list-style: none;
  line-height: 2.5;
  margin-top: 1rem;
  font-weight: 700;
}
.pay_list-styled-card{
  font-size: large;
  list-style-position: inside;
  list-style: none;
  line-height: 2.5;
  margin-top: 1rem;
 
}

.feature-button{
  background-color: grey;
  font-weight: 450;
  width: 10vw;
  margin-top: 0.5vw;
  border: none;
}

.free-button {
  background-color: red;
  font-weight: 450;
  width: 10vw;
  margin-top: 0.5vw;
  border: none;
 
}

.premium-button {
  background-color: rgb(12, 12, 173);
  font-weight: 450;
  width: 10vw;
  margin-top: 0.5vw;
  border: none;
}

.basic-button {
  background-color: black;
  font-weight: 450;
  width: 10vw;
  margin-top: 0.5vw;
  border: none;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 603px;
  transform: translate(-50%, -50%);
  left: 703px;
  width: 200px;
  height: 200px;
}
.Loading {
  max-width: 65%;
  max-height: 100%;
  object-fit: contain;
}
.error {
  padding-top: 10px;
  color: red;
  font-size: large;
  font-family: "Roboto Condensed", sans-serif;
}
.links {
  text-decoration: underline;
  font-family: "Roboto Condensed", sans-serif;
  color: #000000;
}
.s_links {
  text-decoration: underline;
  font-family: "Roboto Condensed", sans-serif;
  color: #000000;
}

.login_img {
  background: #f5f6f6;
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.main {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline-start: 5%;
  padding-top: 2%;
  height: 100vh;
  font-size: small;
}
.e3_login {
  font-size: 45px;
  font-weight: 500;
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: left;
}
.intro {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  color: #000000;
  text-align: left;
  flex: 2 1 0;
  padding-inline-end: 7%;
  font-family: "Roboto Condensed", sans-serif;
  text-align: justify;
}
.frame {
  padding-top: 8%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-inline-end: 8%;
  width: 27%;
}
.signup_frame{
  padding-top: 8%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-inline-end: 8%;
  width: 27%;

}
.s_frame {
  padding-top: 4%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-inline-end: 8%;
  width: 27%;
}
.sub-main {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0%;
  border-radius: 30px;
  background-color: white;
  box-shadow: 5px 10px 10px rgb(124, 124, 124);
}
.signup-sub-main {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0%;
  border-radius: 30px;
  background-color: white;
  box-shadow: 5px 10px 10px rgb(124, 124, 124);
  font-size: medium;
}
.s_sub-main {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0%;
  border-radius: 30px;
  background-color: rgba(13, 63, 69, 0.77);
}
.title-logo {
  padding: 5%;
}
.logo-pic {
  padding-left: 10%;
  height: 70%;
  width: 70%;
  position: relative;
}
.s_logo-pic {
  padding-left: 10%;
  height: 60%;
  width: 60%;
  position: relative;
}
input {
  height: 50px;
  border-radius: 5px;
  font-weight: 500;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #ffffff;
  width: 70%;
  opacity: 100%;
  border: 1px solid black;
}

input.name {
  font-weight: 400;
  font-size: medium;
}

input::placeholder {
  font-weight: 300;
  color: #000000;
  font-family: "Roboto Condensed", sans-serif;
}
.email {
  height: 25px;
  width: 25px;
  position: absolute;
  padding: 14px 0 0 25px;
  opacity: 100%;
}
.email-pic {
  height: 25px;
  width: 25px;
  position: absolute;
  padding: 14px 0 0 25px;
  opacity: 100%;
}
.s_name-pic {
  height: 32px;
  width: 32px;
  position: absolute;
  padding: 10px 0 0 21px;
  opacity: 100%;
}
.name {
  padding-left: 70px;
  font-size: 20px;
  color: black;
  font-weight: 100;
}
.first-input {
  position: relative;
}
.second-input {
  position: relative;
  padding-top: 20px;
}
.s_second-input {
  padding-top: 10px;
}
button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: rgba(13, 63, 69, 0.77);
  border: none;
  font-size: 25px;
  font-weight: 100;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  cursor: pointer;
}

.pay-pricing {
  color: white;
  margin-top: -1.2rem;
  position: absolute;
  text-wrap: nowrap;
  margin-left: -6rem;
  text-decoration: none;
}
.marketplace-section {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 50vh;
  width: 50vw;
  margin-top: 5%;
}
.login_plan_container {
  background-color: white;
  margin-top: 0%;
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 15px gray;
  flex-wrap: nowrap;
  background-color: white;
  justify-content: space-around;
  align-items: center;
}

.login_pay_plan {
  display: none;
}

.login_plan_container .pay_card {
  margin-left: -607px;
  position: relative;
  margin-bottom: 3%;
  margin-top: 1px;
  margin-right: 0px;
  border: none;
  box-shadow: 4px 8px 15px gray;
  width: 22%;
  height: 274px;
}

.login_plan_container .pay_card1 {
  margin-right: 0px;
  margin-left: 0px;
  position: relative;
  margin-top: 0px;
  margin-bottom: 3%;
  box-shadow: 4px 8px 15px gray;
}

.login_plan_container .pay_card2 {
  margin-left: 0px;
  position: relative;
  margin-top: 0px;
  margin-bottom: 3%;
  box-shadow: 4px 8px 15px gray;
}

.pay_login {
  position: absolute;
  margin-left: -2.3rem;
}

.e3 {
  display: none;
}




.login_mob_plan {
  display: none;
}
.marketplace-title{
  display: none;
}

 
 for .marketplace-section 

 Media queries for responsive design 
 @media only screen and (max-width: 1100px) {
  .main {
    padding-inline-start: 5%;
  }

  .li {
    display: none;
  }
  .login_img {
    background: #f5f6f6;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
 
  .login_mob_plan {
    display: contents;
  }
  .e3_login {
    padding-bottom: 24%;
    padding-top: 5%;
    font-size: 35px;
    font-weight: 500;
  }
  .intro {
    padding-inline-end: 4%;
    font-size: 23px;
  }
  .frame,
  .s_frame {
    padding-top: 10%;
    width: 37%;
  }
  input {
    width: 70%;
  }
  button {
    width: 45%;
  }

  .login_btn {
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .email-pic {
    height: 25px;
    width: 25px;
    position: absolute;
    padding: 14px 0 0 25px;
    opacity: 100%;
    overflow-y: hidden;
  }
}
@media only screen and (max-width: 780px) {
  .desc-text {
    display: none;
  }
  .img {
    height: 100vh;
  }
  .main {
    padding-inline-start: 2%;
    flex-direction: column;
    padding-top: 0%;
    height: 110vh;
    position: relative;
    background-color: white;
  }
  .login_pay_plan {
    display: block;
    margin-top: 1rem;
  }
  .login_mob_plan {
    display: contents;
  }
  .e3_login {
    display: none;
  }
  .e3_login_signup {
    display: none;
  }
  .intro {
    padding-top: 0%;
    max-height: 0%;
  }
.e3_signup{
  text-align: center;
  font-weight: 700;
}
  .frame {
    width: 100vw;
    height: 49vh;
    position: absolute;
    padding-left: -67px;
    padding-top: 46px;
    padding-inline-end: -4%;
    margin: -2%;
    margin-top: -3rem;
  }
  .pay_list-styled-card-mobile{
    display: block;
    margin: -1rem;
    text-align: center;
    margin-left: 1rem;
    list-style: none;
  }
 
  .login_price{
    font-weight: 700;
        margin-left: -1rem;
  }

.pay_list-styled-card{
  display: none;
}
.basic-button{
  height: 2rem;
     
        margin-left: 6rem;
}

  .sub-main {
    border-radius: 0px;
    box-shadow: none;
    width: auto;
    height: auto;
    position: relative;
    padding-left: 0%;
    padding-right: 0%;
  }
  .signup-sub-main {
    background-color: transparent;
    box-shadow: none;
  }
  .s_frame {
    width: 92%;
  }
  .signup_frame{
    width: 100vw;
    height: 49vh;
    position: absolute;
    padding-left: -67px;
    padding-top: 85px;
    padding-inline-end: -4%;
    margin: -4%;
    margin-top: 12rem;
  }

  input {
    width: 70%;
  }
  button {
    width: 45%;
  }
  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 820px;
    transform: translate(-50%, -50%);
    left: 200px;
    width: 200px;
    height: 200px;
    opacity: 0.9;
  }
  .Loading {
    max-width: 65%;
    max-height: 100%;
    object-fit: contain;
    opacity: 0.9;
  }

  .pay-pricing {
    color: white;
    margin-top: -1.5rem;
    margin-left: -6rem;
    position: absolute;
    font-size: 1rem;
    text-decoration: none;
  }

  .sign_up {
    margin-left: 6.5rem;
    width: 8rem;
    border-radius: 1rem;
    margin-top: 0.5rem;
  }

  .login_btn {
    margin-left: 9rem;
    width: 9rem;
    border-radius: 1rem;
    margin-top: 0.5rem;
    text-align: center;
  }


  .e3 {
    display: none;
  }
  .marketplace-section {
    width: 96.5vw;
    position: relative;
    top: 36rem;
    display: none;
  }
  .login_marketplace-section {
    display: contents;
  }
  .login_plan_container .pay_card2 {
    margin-right: 0px;
  }
  .login_plan_container {
    flex-direction: column;
    /* overflow-y: hidden; */
     padding: 1rem;
    margin: -1rem;
  }
  .marketplace-container {
    display: flex;
    position: absolute;
    top: 37rem;
    width: 111%;
    left: -2%;
    height: 80vh;
    background-color: white;
    border-radius: 0%;
  
    align-items: center;
  }
  .marketplace-title{
    text-align: center;
    display: contents;
  }
  .marketplace-cards {
    flex-direction: column;
    width: 115rem;
    height: 33rem;
    position: relative;
    left: 45rem;
    gap: 5vh;
    top: 0rem;
    justify-content: space-between;
  
  }
  .marketplace-card-one{
    display: none;
  }
  .marketplace-card{
       height: 18vh;
    margin: 0rem;
  }
  .marketplace-cards button{
    width: 23rem;
        margin: 0rem;
        margin-left: 0rem;
        text-align: center;
  }
  .pay_list-styled-card-mobile{
    display: block;
    margin: -1rem;
    text-align: center;
    margin-left: 1rem;
    list-style: none;
  }
 
  .login_price{
    font-weight: 700;
        margin-left: -2rem;
  }

.pay_list-styled-card{
  display: none;
}
.basic-button{
  height: 2rem;
     
        margin-left: 7rem;
}
.premium-button{
  height: 2rem;
     
  margin-left: 7rem;
}

.free-button{
  height: 2rem;
     
  margin-left: 7rem;
}
.links{
  
}

} 


 










